.container {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    width: 50vw;

    background-color: var(--bgLight);
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;

    scroll-margin-top: 100px;
}

.title {
    color: var(--textDark);
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: 100%;
    height: auto;
}

.form .field {
    position: relative;
    width: 100%;
}

.form textarea {
    all: unset;
    background-color: var(--bgHover);
    padding: 10px;
    border-radius: 5px;
    resize: none;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    line-height: 1.5;
}


.form input,
.form textarea,
.form button {
    all: unset;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--bgHover);
    color: var(--textDark);
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: calc(100% - 20px);

}

.form label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding: 0 5px;
    pointer-events: none;
    transition: 0.2s ease;
    font-size: 1rem;
    opacity: 0.8;

    color: var(--textDark);
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.form input:focus+label,
.form textarea:focus+label,
.form input:not(:placeholder-shown)+label,
.form textarea:not(:placeholder-shown)+label {
    top: -1px;
    left: 10px;
    font-size: 0.9rem;
    opacity: 1;
    background: var(--bgLight);
}

.form textarea:focus+label,
.form textarea:not(:placeholder-shown)+label {
    left: 1px !important;
}


.form button {
    background-color: rgb(62, 8, 163);
    text-align: center;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

input:focus+label,
input:not(:placeholder-shown)+label,
textarea:focus+label,
textarea:not(:placeholder-shown)+label {
    opacity: 1;
    transform: scale(0.75) translateY(-70%) translateX(-14px);
}

.error {
    color: var(--textDark);
    font-size: 0.8rem;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Default: Large devices such as laptops, computers (greater than 1024px) */

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
    .container {
        width: 80vw;
    }
}