.container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    align-items: center;
    flex-direction: column;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0;
}

.linkWrapper a {
    text-decoration: none;
    color: rgb(182, 181, 181);
    font-size: 2rem;
    margin: 0;
    display: grid;
    place-items: center;
    transition: transform 0.3s ease-in-out;
}

.linkWrapper a:hover {
    transform: translateY(-1px);
}

.footerText {
    margin: 0;
    color: #b6b5b5;
}

.hr {
    display: none;
    
}

/* Default: Large devices such as laptops, computers (greater than 1024px) */

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
    
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
    .container {
        margin-bottom: 3rem;
        align-items: flex-start;
        width: 85vw;
    }
    .wrapper {
        gap: 0.9rem;
    }

    .linkWrapper a {
        font-size: 1.2rem;
    }

    .footerText {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .hr {
        display: block;
        width: 100%;
        color: #b6b5b5;
    }
}