.container {
    display: flex;
    max-width: 75vw;
    background-color: var(--bgLight);
    padding: 20px;
    margin: 25px auto;
    border-radius: 5px;
}

.container :nth-child(1) {
    scroll-behavior: smooth;
    color: var(--textDark);
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.container :nth-child(1)::-webkit-scrollbar {
    background-color: var(--bgLight);
    height: 5px;
}

.container :nth-child(1)::-webkit-scrollbar-thumb {
    background-color: var(--bgHover);
    cursor: pointer;
}

.container :nth-child(1)::-webkit-scrollbar-thumb:hover {
    background-color: var(--textDark);
}