.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 50px;

    height: max-content;
    scroll-margin-top: 100px;
}

.name,
.title {
    color: var(--textDark);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    padding: 0;
    margin: 0;
    text-align: center;
}

.name {
    font-size: 5rem;
}

.title {
    font-size: 1rem;
}

.title span {
    color: var(--textDark);
    cursor: pointer;
    position: relative;
}

.title span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--textLight);
    color: var(--textLight);
    transition: width 0.5s ease-in-out;
}

.title span:hover::after {
    width: 100%;
}

.title span:hover {
    color: var(--textLight);
}

.button {
    all: unset;
    background-color: var(--bgLight);
    color: var(--textDark);
    padding: 10px 15px;
    border-radius: 10px;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    cursor: pointer;

    margin-top: 50px;
}

.button:hover {
    background-color: var(--bgHover);
    color: var(--textLight)
}

/* Default: Large devices such as laptops, computers (greater than 1024px) */

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
    .name {
        font-size: 4rem;
    }
    .title {
        font-size: 0.8rem;
    }
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
    .name {
        font-size: 3rem;
    }
    .title {
        font-size: 0.6rem;
    }
}