.container {
    position: sticky;
    top: 10px;
    z-index: 1000;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.icon {
    color: var(--textDark);
    background-color: var(--bgLight);
    padding: 15px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.navbarContainer {
    background-color: var(--bgLight);
    color: var(--textDark);

    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    padding: 5px 20px;
    border-radius: 20px;

}

.navbar {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.navbarItem,
.icon {
    transition: all 0.3s ease-in-out;
}

.navbarItem:hover,
.icon:hover {
    color: var(--textLight);
    transform: translateY(-3px);
}

.navbarContainer,
.icon {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* Default: Large devices such as laptops, computers (greater than 1024px) */

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
    .navbarContainer {
        padding: 5px 15px;
    }
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
    .navbarContainer {
        padding: 5px 15px;
    }
}