.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    

    margin: 25px auto;
    width: 70vw;

}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bgLight);

    height: max-content;
    border-radius: 5px;
    padding: 5px;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    transition: all 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-15px)
}

.img {
    width: 100%;
    height: auto;
    min-height: 200px;
    border-radius: 5px;

    object-fit: cover;
    aspect-ratio: 16 / 9;
    background-color: #f5f5f5;
}

.title {
    color: var(--textDark);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    padding: 10px;
}

/* Default: Large devices such as laptops, computers (greater than 1024px) */

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
   .img {
    height: 150px;
   }

   .container {
    width: 80vw;
    grid-template-columns: repeat(2, 1fr);
   }
    
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: stretch;
        width: auto;
    }

    .project {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        width: 80vw;
        height: 100px;
    }

  .img {
    height: 100%;
    flex: 0 0 150px; 
    min-width: 120px; 
    max-width: 180px; 
    object-fit: cover;
}
    .title {
        flex: 1;
    }

    
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .img {
        height: 100%;
    }
}