@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --staatliches: "Staatliches", sans-serif;
  --urbanist: "Urbanist", sans-serif;
  --anton:  "Anton", sans-serif;

  --animate-wiggle: wiggle 3s ease-in-out infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility bg-grid {
  background-image:
    linear-gradient(to right, rgba(138, 66, 245, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(138, 66, 245, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  animation: grid-flow 1s linear infinite;
}

@keyframes wiggle {

  0%,
  100% {
    transform: translateY(0px) translateX(0px);
  }

  50% {
    transform: translateY(-10px) translateX(-5px);
  }
}


@keyframes grid-flow {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 40px;
  }
}



@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
    filter: blur(6px);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
    filter: blur(6px);
  }
}

.slideIn {
  animation: slideIn 0.5s ease forwards;
}

.slideOut {
  animation: slideOut 0.5s ease forwards;
}

.project-item {
  @apply transition-all duration-300 ease-in-out;
}

.project-item:hover {
  @apply scale-90;
}

.project-item .project-card {
  @apply invisible opacity-0 scale-95 transition-discrete backdrop-blur-none;
}

.project-item:hover .project-card {
  @apply visible opacity-100 scale-100 backdrop-blur-2xl;
}


body {
  background: var(--background);
  color: var(--foreground);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}